&.pro {
	@import "pro-promo";

	section.plan {
		p.uneditable {
			padding: 15px 25px 25px;
		}

		ul.info {
			padding: 0 40px;
			margin: 15px 0 5px;

			li {
				display: block;

				b {
					width: 180px;
					display: inline-block;
				}
			}
		}

		.actions {
			border: 0;
			text-align: left;
		}
	}
}