&.widgets {
	section.text {
		overflow: hidden;
	}

	img.widget-demo {
		width: 396px;
		float: right;
		margin-left: 50px;

		@media (max-width: 1100px) {
			& {
				display: none;
			}
		}
	}

	ol {
		margin-top: 25px;
		line-height: 25px;
		padding-left: 60px;

		li {
			padding-top: 8px;
		}
	}
}