/*---------------------------------------------
	/ Main Styles
*/
header {
	z-index: 1;
	padding: 0;
	width: 100%;
	line-height: 50px;
	position: relative;
	background: rgba(0, 0, 0, .03);
	border-bottom: 1px solid rgba(0, 0, 0, .075);
}

.dark header {
	background: rgba(0, 0, 0, .15);
}

header:before {
	top: 0;
	left: 0;
	width: 50px;
	color: #777;
	position: absolute;
	pointer-events: none;
}

header input {
	width: 100%;
	font-size: 15px;
	border-radius: 0;
	border: 0!important;
	vertical-align: top;
	padding: 0 0 0 50px!important;
}

div.definition {
	overflow: auto;
	cursor: initial;
	padding: 15px 20px 20px;
	-webkit-user-select: initial;
	max-height: calc(100% - 51px); /* Header height (50px) + 1px bottom border */
}

.definition button.more {
	float: right;
	padding: 0 6px;
	min-width: 60px;
	line-height: 28px;
	margin: 0 -5px 0 0;
}

.definition .term {
	font: inherit;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
}

.definition .pronunciation {
	font: inherit;
	font-size: 14px;
}

.definition .pronunciation span:before,
.definition .pronunciation span:after {
	content: "/";
}

.definition .audio {
	outline: 0;
	padding: 0;
	opacity: .6;
	border: initial;
	font-size: 18px;
	background: initial;
	-webkit-appearance: none;
}

.dark .definition .audio {
	color: #FFF;
}

.definition .audio:hover,
.definition .audio:focus {
	opacity: .9;
}

.definition div.form {
	font-size: 13px;
	font-style: italic;
}

.definition .usage {
	padding-top: 10px;
}

.definition .forms {
	color: #777;
	font-size: 13px;
}

.dark .definition .forms {
	color: #AAA;
}

.definition .forms .form:not(:last-child):after {
	content: ";";
}

.definition .forms .value {
	font-weight: 700;
}

.definition ol {
	margin: 0;
	padding-left: 25px;
}

.definition ol li {
	font-size: 13px;
	padding-top: 10px;
}

.definition ol li p {
	margin: 0;
}

.definition ol li q {
	color: #878787;
}

.dark .definition ol li q {
	color: #BBB;
}

.definition ol li .synonyms,
.definition ol li .antonyms {
	color: #777;
	font-size: 12px;
	padding-top: 2px;
}

.dark .definition ol li .synonyms,
.dark .definition ol li .antonyms {
	color: #CCC;
}

.definition ol li .synonyms .title,
.definition ol li .antonyms .title {
	text-transform: lowercase;
}

.definition ol li .synonyms .group:not(:last-child):after,
.definition ol li .antonyms .group:not(:last-child):after {
	content: ";";
}

.definition ol li .synonyms .group span:not(:last-child):after,
.definition ol li .antonyms .group span:not(:last-child):after {
	color: #777;
	content: ",";
	text-decoration: none;
}

.definition ol li .has-def {
	color: #1565C0;
	cursor: pointer;
}

.dark .definition ol li .has-def {
	color: #42A5F5;
}

.definition ol li .has-def:hover {
	text-decoration: underline;
}

.definition ol li .labels span {
	color: #777;
	font-size: 11px;
	padding: 3px 5px;
	background: #EEE;
	margin-right: 5px;
	letter-spacing: .2px;
	display: inline-block;
	text-transform: uppercase;
}

.dark .definition ol li .labels span {
	color: #CCC;
	background: rgba(255, 255, 255, .1);
}

.web-definitions {
	font-size: 13px;
	padding-top: 15px;
}

.web-definitions h2 {
	font: inherit;
	font-weight: 500;
}

.web-definitions p {
	padding: 5px 10px 0;
}







/*---------------------------------------------
	/ Maximization styles
*/
.definition .forms,
.definition ol li .synonyms,
.definition ol li .antonyms,
.definition ol li:nth-child(n + 2),
.definition .usage:nth-of-type(n + 3),
.definition .usage ~ .web-definitions {
	display: none;
}






/*---------------------------------------------
	/ Loading screen
*/
.loading {
	height: 225px;
	position: relative;
}

.loading svg {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

.spinner {
	-webkit-animation: rotator 1.4s linear infinite;
}

.spinner circle {
	stroke-dashoffset: 0;
	stroke-dasharray: 187;
	transform-origin: center;
	animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes rotator {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(270deg);
	}
}

@-webkit-keyframes colors {
	0%		{ stroke: #4285F4; }
	25%		{ stroke: #DE3E35; }
	50%		{ stroke: #F7C223; }
	75%		{ stroke: #1B9A59; }
	100%	{ stroke: #4285F4; }
}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% {
		stroke-dashoffset: 46.75;
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform: rotate(450deg);
	}
}







/*---------------------------------------------
	/ No definition splash
*/
.splash.no-definition {
	color: #888;
	padding: 40px 0;
	text-align: center;
	background: #F2F2F2;
}

.dark .no-definition {
	color: #AAA;
	background: #2A2A2A;
}

.dark.transparent .no-definition {
	color: #DDD;
	background: rgba(0, 0, 0, .2);
}

.no-definition svg {
	width: 125px;
	height: 125px;
	fill: currentColor;
}

.no-definition p {
	padding: 0 35px;
	margin: 15px 0 0;
	line-height: 22px;
}