body { visibility: visible!important; display: block!important; }
#nav { display: none; }
a#bnc, input#tr, input#more, a#bnm img, div.email table tbody tr:last-child input[name=t], ul.menu {display: none; }

table.actionBar, a#bnm { 
    background-color: #F1F1F1;
    color: black;
 }

div.email table tbody tr:first-child {
    font-size: 16px;
}

div.email table tbody tr:last-child a {
    color: black;
    font-size: 14px;
}

div.email table tbody tr:last-child a b {
    font-weight: 100;
}

div#body {
    border-top: 1px solid #B0B0B0;
}

