<template id="template.widgets.facebook">
    <iframe src="https://m.facebook.com/" style="height:{{height}}px" seamless>For some strange reason it seems your browser doesn't support iFrames!</iframe>
</template>
