<template id="template.widgets.gmail">
    <iframe src="http://mail.google.com/mail/mu/mp/?source=ig&amp;mui=igh&amp;authuser={{user}}" style="height:{{height}}px" sandbox="allow-same-origin allow-popups allow-forms allow-scripts" seamless>For some strange reason it seems your browser doesn't support iFrames!</iframe>
</template>
