<template id="template.widgets.unread">
    <a class="mainval" href="https://mail.google.com/?authuser={{user}}" target="_blank" data-label="{{label}}" data-tooltip="{{#messages}}<b>{{subject}}</b><br />{{excerpt}}<br /><br />{{/messages}}">{{count}}</a>
</template>
