<template id="template.widgets.voice">
    <a class="mainval" href="https://www.google.com/voice/b/{{user}}/" target="_blank" data-label="missed in Voice" data-tooltip="<b><span style=&quot;float:right&quot;>{{texts}} unread text messages</span>{{missed}} missed calls&nbsp;&nbsp;&nbsp;</b><br /><br />{{#messages}}<b>{{type}} from: {{from}}<span style=&quot;float:right&quot;>{{date}}</span></b><br />{{#excerpt}}<span style=&quot;display:inline-block;max-height:60px;overflow:hidden&quot;>{{excerpt}}</span><br />{{/excerpt}}<br />{{/messages}}">{{count}}</a>
</template>
