$primary-color: $md-orange-800;
$accent-color: $md-blue-500;

body > .settings {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	outline: 0;
	z-index: 9999;
	display: none;
	position: fixed;
	color: $text-color;
	background: #F5F5F5;
	padding-left: 250px;
	font-family: Roboto, sans-serif;

	&.visible {
		display: block;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0;
		font: inherit;
	}

	label {
		cursor: pointer;
	}

	.pro-badge {
		&:after {
			padding: 0 3px;
			content: "Pro";
			font-size: 11px;
			font-weight: 500;
			border-radius: 2px;
			color: $md-orange-600;
			text-transform: uppercase;
			border: 1px solid currentColor;
			font-family: Roboto, sans-serif;
		}
	}

	@import "inputs";

	@import "side-nav";

	.page {
		height: 100%;

		header {
			color: #FFF;
			height: 55px;
			padding: 0 25px;
			line-height: 55px;
			position: relative;
			box-shadow: $md-shadow-2dp;
			background: $primary-color;

			h2 {
				font-size: 20px;
			}
		}

		main.content {
			overflow: auto;
			padding: 20px 0;
			max-height: calc(100% - 55px);
		}

		section {
			width: 800px;
			background: #FFF;
			margin: 30px auto;
			box-shadow: $md-shadow-1dp;

			h3 {
				font-size: 18px;
				padding: 25px 25px 15px;
			}

			p {
				margin: 0;
				padding: 0 25px;
			}

			p + .input,
			h3 + .input {
				border-top: 0;
				margin-top: 15px;

				&.no-label {
					margin-top: 0;
					text-align: left;
					padding-top: 15px;
				}
			}
		}

		@import "pages/toolbar";
	}

	.input {
		margin: 0;
		font: inherit;
		display: block;
		text-align: right;
		line-height: 32px;
		padding: 20px 25px;
		border-top: 1px solid rgba(0, 0, 0, .12);

		h4 {
			float: left;
			font-size: 16px;
		}

		.note {
			color: #757575;
			font-size: 13px;
			line-height: 25px;
		}

		.desc {
			float: left;
			font-size: 13px;
			text-align: left;
			line-height: 20px;
			max-width: calc(100% - 300px);

			& + input {
				width: 285px;
			}
		}

		@import "controls";
	}
}