/*---------------------------------------------
	/ Main Styles
*/
a {
	color: inherit;
	display: block;
	text-align: center;
	padding: 10px 0 20px;
	text-decoration: none;
}

.tiny a {
	padding-bottom: 10px;
}

.value {
	color: #388E3C;
	display: block;
	font-size: 80px;
	font-weight: 300;
	line-height: 100px;
}

.dark .value {
	color: #4CAF50;
}

.tiny .value {
	font-size: 50px;
	line-height: 60px;
	font-family: inherit;
}

.label {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: .2px;
}

.dark .label {
	color: #CCC;
}