<template id="template.widgets.apps.desc">
    The Apps widget displays your currently installed Google Chrome applications in either a list or tile view.<br />
    <br />
    No setup is necessary for this widget.<br />
    <br />
    There are no variations available for this widget.
</template>
