<template id="template.widgets.calendar.desc">
    The Calendar widget displays a list of events from your Google Calendar.<br />
    <br />
    Setup:<br />
    <br />
    <ol>
        <li>Install the widget in your preferred size</li>
        <li>Hover over the widget and click the settings icon that appears</li>
        <li>Under calendar select the calendar that you would like to be shown</li>
        <li>Click "Save"</li>
    </ol>
    There are no variations available for this widget.
</template>
