<template id="template.widgets.currency.desc">
    The currency widget lets you convert to and from 169 currencies including Bitcoin.<br />
    <br />
    No setup is necessary for this widget.<br />
    <br />
    There are no variations available for this widget.
</template>
