<template id="template.widgets.drive.desc">
    The Drive widget displays recently changed files from your Google Drive.<br />
    <br />
    Setup:<br />
    <br />
    <ol>
        <li>Install the widget in your preferred size</li>
        <li>Click the large Authorize button that is shown in the widget</li>
        <li>After the window opens on Google, follow the steps and click Authorize</li>
    </ol>
    There are no variations available for this widget.
</template>
