<template id="template.widgets.facebook.desc">
    The Facebook widget displays your Facebook home timeline in a widget.<br />
    <br />
    <b>This widget is not available offline and, since it loads from a third-party site that is not as optimized as iChrome, it may cause iChrome to load slowly.</b><br />
    <br />
    No setup is necessary for this widget.<br />
    <br />
    There are no variations available for this widget.
</template>
