<template id="template.widgets.news.desc">
    The News widget shows top news for a selected topic and edition from Google News.<br />
    <br />
    Via the settings menu you can:<br />
    <br />
    <ul>
        <li>Choose the number of articles shown</li>
        <li>Select a news topic</li>
        <li>Select a news edition</li>
        <li>Enter a custom RSS feed URL</li>
    </ul>
    To select a topic/edition:<br />
    <br />
    <ol>
        <li>Install the widget in your preferred size</li>
        <li>Hover over the widget and click the settings icon that appears</li>
        <li>Select a topic or edition from their respective dropdown menus</li>
        <li>Click "Save"</li>
    </ol>
    There are no variations available for this widget.
</template>
