<template id="template.widgets.notes.desc">
    The Notes widget contains a rich text sticky note.<br />
    <br />
    Via the settings menu you can select what color, font face and font size are used.<br />
    <br />
    No setup is necessary for this widget.<br />
    <br />
    There are no variations available for this widget.
</template>
