<template id="template.widgets.now.desc">
    The Now widget displays cards from Google Now.<br />
    <br />
    Setup:<br />
    <br />
    <ol>
        <li>Install the widget in your preferred size</li>
        <li>Click the blue Authorize button</li>
        <li>Follow the prompts and allow access</li>
    </ol>
    There are no variations available for this widget.
</template>
