<template id="template.widgets.reddit.desc">
    The Reddit widget displays items in a selected sort order from any given subreddit. Images will also be displayed when available.<br />
    <br />
    To select a subreddit:<br />
    <br />
    <ol>
        <li>Install the widget in your preferred size</li>
        <li>Hover over the widget and click the settings icon that appears</li>
        <li>Under "Subreddit" enter the subreddit name</li>
        <li>Click "Save"</li>
    </ol>
    There are no variations available for this widget.
</template>
