<template id="template.widgets.todo.desc">
    The To-do widget displays an editable list of to-do items with important and completed statuses.<br />
    <br />
    To add an item:<br />
    <br />
    <ol>
        <li>Install the widget in your preferred size</li>
        <li>Hover over the widget and click the "Add Item" link that appears in the top right corner</li>
        <li>At the bottom of your to-do list a new, blank, item will appear</li>
    </ol>
    To delete or reorder items use the buttons that appear on the right of the item when it is hovered over.<br />
    <br />
    There are no variations available for this widget.
</template>
