<template id="template.widgets.traffic.desc">
    The Traffic widget displays the current time in traffic to either home or work depending on the time of day.<br />
    <br />
    Setup:<br />
    <br />
    <ol>
        <li>Install the widget in your preferred size</li>
        <li>Hover over the widget and click the settings icon that appears</li>
        <li>Under the home and work address fields, enter your home and work addresses</li>
        <li>Select a preferred method of transit, either Driving, Walking or Public Transit</li>
        <li>Click "Save"</li>
    </ol>
    Variations:<br />
    <br />
    Tiny: Displays the current time to either home or work in an abbreviated form.<br />
    Small: Displays the current time to either home or work in a full form.
</template>
