<template id="template.widgets.translate.desc">
    The translate widget offers live in-page translation for words, sentences and paragraphs in 80 languages.<br />
    <br />
    No setup is necessary for this widget.<br />
    <br />
    There are no variations available for this widget.
</template>
