<template id="template.widgets.twitter.desc">
    The Twitter widget displays tweets from either your home stream or a list of your choice. Alternatively, it can display tweets you've been mentioned in or tweets of yours that have been retweeted.<br />
    <br />
    Setup:<br />
    <br />
    <ol>
        <li>Install the widget in your preferred size</li>
        <li>Click the large Authorize button that is shown in the widget</li>
        <li>After the window opens on Twitter, accept and click Authorize</li>
    </ol>
    There are no variations available for this widget.
</template>
