<template id="template.widgets.wolfram.desc">
    The Wolfram|Alpha widget displays a Wolfram|Alpha search box.<br />
    <br />
    Wolfram|Alpha is a computational knowledge engine developed by Wolfram Research.<br />
    <br />
    It is an online service that answers factual queries directly by computing the answer from externally sourced "curated data", rather than providing a list of documents or web pages that might contain the answer as a search engine might. (Source: <a href="http://en.wikipedia.org/wiki/Wolfram_alpha">Wikipedia</a>)<br />
    <br />
    No setup is necessary for this widget.<br />
    <br />
    There are no variations available for this widget.
</template>
