/*---------------------------------------------
	/ Main Styles
*/
:root {
	font-family: inherit;
}

.files {
	padding: 0;
	max-height: 600px;
	overflow-x: hidden;
}

.grid :root .files {
	max-height: 100%;
}

.grid :root .header ~ .files {
	max-height: calc(100% - 45px);
}

.file {
	color: #333;
	display: block;
	min-height: 75px;
	position: relative;
	text-decoration: none;
	border-top: 1px solid #EEE;
}

.dark .file {
	color: #DDD;
	border-top-color: #222;
}

.dark.transparent .file {
	color: #EEE;
	border-top-color: rgba(0, 0, 0, .1);
}

.file:hover {
	background-color: rgba(0, 0, 0, 0.01);
}

.dark .file:hover {
	background: rgba(0, 0, 0, .15);
}

.file:hover:after {
	right: 15px;
	color: #888;
	font-size: 30px;
	content: "\E6D4";
	line-height: 15px;
	position: absolute;
	font-family: Entypo;
	top: calc(50% - (15px / 2));
}

.file .info {
	padding: 15px;
}

.file h2 {
	font-size: 18px;
	overflow: hidden;
	line-height: 20px;
	white-space: nowrap;
	font-weight: normal;
	text-overflow: ellipsis;
}

.file .modified {
	font-size: 12px;
	padding-top: 5px;
}

.file .icon {
	float: left;
	width: 75px;
	height: 75px;
	margin-right: 15px;
	background: #F5F5F5 center no-repeat;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB0SURBVFiF7dSxDYAwDERRj5cxWIY5MkrGocwIBroIEXIRnEVxln5rv8rm7taW1s1flm0w7T37CFBnEAxAOVpQBAVwLkYRNACKoAIQBB0wQoQAnhBhgB4iFHCHCAdcEaxPWIAqCzCVAAIIIIAAAggggAC/Auz27D1Yc1xjaQAAAABJRU5ErkJggg==");
}

.dark .file .icon {
	background-color: #2A2A2A;
}

.dark.transparent .file .icon {
	background-color: rgba(0, 0, 0, .1);
}





/*---------------------------------------------
	/ Authorize
*/
.authorize {
	padding: 20px;
	text-align: center;
}

.authorize .btn {
	width: 100%;
	margin-top: 15px;
}