<template id="template.themes.listing">
    {{#themes}}
        <div data-id="{{id}}" class="theme{{#custom}} custom{{/custom}}">
            <div class="push lazy" style="{{#color}}background-color: {{color}};{{/color}}{{#image}}background-image: url('{{image}}');{{/image}}"></div>

            <div class="caption">
                {{#name}}
                    <h2 title="{{name}}">
                        {{#offline}}<span class="cached" title="This theme has been cached and is available offline">&#xF0E7;</span>{{/offline}}

                        {{#type}}<span class="type {{entypo}}" title="{{desc}}">{{{icon}}}</span>{{/type}}

                        {{name}}
                    </h2>
                {{/name}}

                <div class="specs">
                    {{#stats}}
                        <span>{{stats}}</span>
                    {{/stats}}
                    {{^stats}}
                        {{#resolution}}<span><b>Resolution:</b> {{resolution}}</span>{{/resolution}}
                    {{/stats}}

                    {{#source}}
                        {{^stats}}
                            {{^resolution}}
                                {{#categories}}<span><b>Categories:</b> {{categories}}</span>{{/categories}}
                            {{/resolution}}
                        {{/stats}}

                        {{#url}}<span><b>By:</b> <a href="{{url}}" target="_blank">{{name}}</a></span>{{/url}}
                        {{^url}}<span><b>By:</b> {{source}}</span>{{/url}}
                    {{/source}}
                    {{^source}}
                        {{#categories}}<span><b>Categories:</b> {{categories}}</span>{{/categories}}
                    {{/source}}
                </div>

                {{#custom}}
                    <button class="btn btn-warning edit">Edit</button>
                    <button class="btn btn-danger delete">Delete</button>
                {{/custom}}

                <button class="btn btn-success use">Use</button>

                <button class="btn btn-primary preview">Preview</button>
            </div>
        </div>
    {{/themes}}
</template>
