<template id="template.updated">
    <h2 class="title">Welcome to iChrome V2.1!</h2>

    <div class="desc">
        V2.1 comes with a lot of improvements, new widgets and features, here's an overview:<br />
        <br />

        <b>New Widgets:</b><br />

        <ul class="widgets">
            <li>YouTube</li>
            <li>Twitter</li>
            <li>Facebook</li>
            <li>Google Plus</li>
            <li>Calculator</li>
            <li>Google Keep</li>
            <li>Google Drive</li>
            <li>Gmail (the old Gmail widget is now Unread)</li>
            <li>Google Now</li>
            <li>Recently Closed</li>
        </ul>

        <br />

        <b>New Features:</b><br />

        <ul>
            <li>The Omnibox issue has been fixed, the new tab extension is now separate from iChrome</li>
            <li>Hundreds of new themes including random, RSS and time-and-date dependent ones have been added</li>
            <li>Many parts of iChrome have been redesigned to be less cluttered and easier to use, namely modals and the settings</li>
            <li>An analog clock view</li>
            <li>The ability to backup, restore and reset your configuration</li>
            <li>Support for custom CSS</li>
            <li>A grid-based tab layout</li>
            <li>Support for multiple stocks in the Stocks widget, custom tags in the To do widget and multiple locations in the Weather widget</li>
            <li>An option to disable the slide-in animation</li>
            <li>A button that can be hovered over to show the full background image (just under the toolbar, top right)</li>
        </ul>

        <br />

        This is not a comprehensive list however, if you'd like to see every change made please check <a href="https://github.com/AMKohn/iChrome/commits" target="_blank">Github</a>.<br />

        <br />

        <b>Psst.</b> Can you translate iChrome to another language? Let me know and subscribe to <a href="http://ichrome.uservoice.com/forums/205893/suggestions/5657945" target="_blank">the idea on UserVoice</a>.
    </div>

    <div class="nav">
        <button class="btn btn-primary ok">OK, got it!</button>
    </div>
</template>
