<template id="template.whats-new">
    <div class="notification whats-new">
        <div class="close"></div>

        <h2 class="title">iChrome just got better!</h2>

        <div class="content">
            You just got the 2.0.13 update.<br />
            <br />
            Here's what's new, important changes are highlighted:<br />
            <ul>
                <li class="bugfix important">Fixed the bug where iChrome would display a blank page when being synced between multiple computers</li>
            </ul>

            <a href="http://ichrome.uservoice.com/" target="_blank">That's great, but you missed something</a>

            <button class="btn btn-sm btn-primary close">OK, awesome!</button>
        </div>

        <!-- <div class="content">
            You just got the 2.0.8 update.<br />
            <br />
            Here's what's new, important changes are highlighted:<br />
            <ul>
                <li class="improvement important">Improved memory usage</li>
                <li class="feature important">Added the Donate option in the footer</li>
                <li class="bugfix important">!! Fixed the bug in the Bookmarks widget where it would duplicate bookmarks</li>
                <li class="bugfix important">!! Fixed the bug in the Bookmarks widget where it would duplicate bookmarks</li>
            </ul>

            <a href="http://ichrome.uservoice.com/" target="_blank">That's great, but you missed something</a>

            <button class="btn btn-sm btn-primary close">OK, awesome!</button>
        </div> -->
    </div>
</template>
