/*---------------------------------------------
	/ Main styles
*/
header {
	margin: 0;
	color: #222;
	padding: 0 15px;
	font-size: 15px;
	font-weight: 400;
	line-height: 45px;
	font-family: inherit;
}

.dark header {
	color: #EEE;
}

header a.title {
	color: inherit;
	text-decoration: none;
}

header .select {
	opacity: 0;
	outline: 0;
	float: right;
	position: relative;
	display: inline-block;
	transition: opacity .2s cubic-bezier(.4, 0, .2, 1);
}

header .select:focus,
:root:hover header .select {
	opacity: 1;
}

header .select span.selected:after {
	font-size: 15px;
	content: "\E6CA";
	line-height: 10px;
	font-family: Entypo;
	vertical-align: middle;
}

header .select ul.options {
	right: 0;
	top: 10px;
	opacity: 0;
	width: 150px;
	padding: 8px 0;
	overflow: auto;
	max-width: 20px;
	font-size: 14px;
	background: #FFF;
	max-height: 35px;
	line-height: 35px;
	position: absolute;
	visibility: hidden;
	border-radius: 2px;
	transform: translateZ(0);
	transition: visibility 0s .3s linear;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14),
				0 1px 10px 0 rgba(0, 0, 0, .12),
				0 2px 4px -1px rgba(0, 0, 0, .2);
	animation: analytics-menu-out .3s cubic-bezier(.4, 0, .2, 1);
}

.dark header .select ul.options {
	background: #414141;
}

header .select:focus ul.options {
	visibility: visible;
	transition-delay: 0s;
	animation: analytics-menu-in .3s cubic-bezier(.4, 0, .2, 1) forwards;
}

@keyframes analytics-menu-in {
	30% {
		max-height: 35px;
	}
	40%, 100% {
		opacity: 1;
		max-width: 150px;
	}
	100% {
		max-height: 125px;
	}
}

@keyframes analytics-menu-out {
	0% {
		max-height: 125px;
	}
	0%, 60% {
		opacity: 1;
		max-width: 150px;
	}
	70% {
		max-height: 35px;
	}
}

header .options li {
	opacity: 0;
	display: block;
	padding: 0 10px;
	cursor: pointer;
	transition: opacity .15s cubic-bezier(.4, 0, .2, 1);
}

header .select:focus .options li {
	opacity: 1;
	transition-delay: .15s;
}

header .options li:hover {
	background: rgba(0, 0, 0, .05);
}

.dark header .options li:hover {
	background: rgba(0, 0, 0, .15);
}

header .options li.selected {
	color: #2196F3;
}








/*---------------------------------------------
	/ Main content
*/
.sessions {
	text-align: center;
	padding-bottom: 10px;
}

.sessions .value {
	display: block;
	color: #388E3C;
	font-size: 95px;
	font-weight: 300;
	line-height: 100px;
	padding-bottom: 10px;
	font-family: Open Sans, sans-serif;
}

.dark .sessions .value {
	color: #4CAF50;
}

.sessions .label {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: .2px;
}

.dark .sessions .label {
	color: #CCC;
}

.tiny .sessions .label {
	font-size: 16px;
	line-height: 25px;
}

.details {
	margin: 15px 10px;
}

.details div {
	color: #212121;
	font-weight: 500;
}

.dark .details div {
	color: #EEE;
}

.details div:after {
	color: #777;
	text-transform: lowercase;
}






/*---------------------------------------------
	/ Loading screen
*/
.loading {
	height: 200px;
	position: relative;
}

.loading svg {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

.spinner {
	-webkit-animation: rotator 1.4s linear infinite;
}

.spinner circle {
	stroke-dashoffset: 0;
	stroke-dasharray: 187;
	transform-origin: center;
	animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes rotator {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(270deg);
	}
}

@-webkit-keyframes colors {
	0%		{ stroke: #4285F4; }
	25%		{ stroke: #DE3E35; }
	50%		{ stroke: #F7C223; }
	75%		{ stroke: #1B9A59; }
	100%	{ stroke: #4285F4; }
}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% {
		stroke-dashoffset: 46.75;
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform: rotate(450deg);
	}
}







/*---------------------------------------------
	/ No profile notice
*/
.no-profile {
	color: #888;
	text-align: center;
	background: #F2F2F2;
	padding-bottom: 25px;
}

.dark .no-profile {
	color: #AAA;
	background: #2A2A2A;
}

.dark.transparent .no-profile {
	color: #DDD;
	background: rgba(0, 0, 0, .2);
}

.no-profile h2 {
	padding: 15px;
	font-size: 16px;
	text-align: left;
	font-family: Open Sans, sans-serif;
}

.no-profile svg {
	width: 150px;
	height: 150px;
	fill: currentColor;
}

.no-profile p {
	padding: 0 35px;
	line-height: 22px;
	margin: 20px 0 15px;
}







/*---------------------------------------------
	/ Tiny styles
*/
.tiny header.has-title {
	margin-bottom: -15px;
}

.tiny .sessions {
	padding-top: 10px;
}

.tiny .sessions .value {
	font-size: 50px;
	line-height: 60px;
	padding-bottom: 0;
	font-family: inherit;
}

.tiny .no-profile {
	padding-bottom: 20px;
}

.tiny .no-profile svg {
	display: none;
}

.tiny .no-profile p {
	margin: 10px 0;
	padding: 0 15px;
}