/*---------------------------------------------
	/ Main Styles
*/
.item {
	color: #444;
	display: block;
	cursor: pointer;
	font-size: 13px;
	overflow: hidden;
	line-height: 36px;
	white-space: nowrap;
	text-decoration: none;
	padding: 0 15px 0 40px;
	text-overflow: ellipsis;
	border-left: 3px solid transparent;
	background: 12px center/16px no-repeat;
}

.dark .item {
	color: #DDD;
}

.dark.transparent .item {
	color: #EEE;
}

.item:hover {
	border-left-color: #1E88E5;
	background-color: rgba(0, 0, 0, .03);
}

.dark .item:hover {
	background-color: rgba(0, 0, 0, .15);
}